.first-div{
    float: left;
    width: 50%;
    background-color: rgb(120, 61, 228);
    color: rgb(14, 132, 241);
    margin: 5% 0% 0% 25%;
    
}

.first-div h1{
    text-align: center;
    font-size: 45px;
    background-color: black;
}

.first-div input, .first-div select{
    float: left;
    width: 25%;
    font-size: 30px;
    margin: 0% 0% 4% 5%;
    padding: 0.5% 0% 0.5% 0%;
    text-align: center;
}

.first-div button{
    float: left;
    width: 40%;
    font-size: 30px;
    margin: 0% 0% 5% 30%;
}

.output-div{
    float: left;
    width: 30%;
    margin: 4% 2% 0% 35%;
    border: 10px solid rgb(18, 206, 34); 
    text-align: center;
    font-size: 30px;
}
.login-div{
    float: left;
    width: 60%;
    margin: 10% 0% 0% 20%;
    background-color: rgb(64, 15, 241);
    color: aquamarine;
}

.login-div input{
    float: left;
    width: 80%;
    margin: 2% 0% 2% 10%;
    font-size: 30px;
}

.login-div button{
    float: left;
    width: 40%;
    margin: 0% 0% 2% 30%;
    font-size: 30px;
}

.login-div input:focus{
    background-color: rgb(73, 151, 125);
}

.login-div button:hover{
    box-shadow: 10px 10px 10px black;
}