<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project1</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="first-div">
        <h1>FullStack Calculator</h1>
        <form action="" method="post">
            <input type="number" required placeholder="Enter Num1" name="num1">
            <select name="opr" required>
                <option value="" disabled selected>select</option>
                <option value="add">+</option>
                <option value="sub">-</option>
                <option value="mul">x</option>
                <option value="div">/</option>
            </select>
            <input type="number" required placeholder="Enter Num2" name="num2">
            <button type="submit">Calculate</button>
        </form>
    </div>

    <div class="output-div">
        {{output}}
    </div>


</body>
</html>